{% load static %}

<footer class="footer-bg footer-p" style="background: #131819">
  <!-- Footer Top Section -->
  <div class="footer-top pt-70 pb-40">
    <div class="container">
      <div class="row justify-content-between">
        <!-- About Us Section -->
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="f-widget-title">
              <img
                src="{% static 'img/logo/sh-01-01-01-01.png ' %}"
                alt="Footer Logo"
              />
            </div>
            <section
              id="custom_html-5"
              class="widget_text widget widget_custom_html"
            >
              <div>
                <h2 style="font-size: 20px">Follow Us</h2>
              </div>

              <div class="textwidget custom-html-widget">
                <div class="widget-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>

                  <a
                    href="https://www.instagram.com/skyhigh.inter/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <i class="fab fa-instagram"></i>
                  </a>
                </div>
              </div>
            </section>
          </div>
        </div>

        <!-- Links Section -->
        <div class="col-xl-2 col-lg-2 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="f-widget-title">
              <h2>Our Links</h2>
            </div>
            <div class="footer-link">
              <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}"> About</a></li>
                <li><a href="{% url 'service_list' %}"> Services </a></li>
                <li><a href="{% url 'contact' %}"> Contact</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Services Section -->
        <div class="col-xl-2 col-lg-2 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="f-widget-title">
              <h2>Our Services</h2>
            </div>
            <div class="footer-link">
              <ul>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'contact' %}">Support</a></li>
                <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Contact Information -->
        <div class="col-xl-3 col-lg-3 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="f-widget-title">
              <h2>Contact Us</h2>
            </div>
            <div class="f-contact">
              <ul>
                <li>
                  <i class="icon fal fa-phone"></i>
                  <span>1800-121-3637<br />(+66) 23233517 - 20</span>
                </li>
                <li>
                  <i class="icon fal fa-envelope"></i>
                  <span>
                    <a href="mailto:info@skyhigh.co.th">info@skyhigh.co.th</a
                    ><br />
                    <a href="mailto:help@skyhigh.co.th">samie@skyhigh.co.th</a>
                  </span>
                </li>
                <li>
                  <i class="icon fal fa-map-marker-check"></i>
                  <span
                    >524 Moo 7, Bangpoo Mai, Muang,<br />
                    Samutprakarn 10280, Thailand.</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom Section -->
  <div class="copyright-wrap">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <p>Copyright © 2024 Skyhigh-Inter. All rights reserved.</p>
        </div>
        <div class="col-lg-6 text-right">
          <ul>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
