<!-- C:\Users\Admin\Desktop\skyhigh\templates\main\about_area.html -->
{% load static %}
<section
  id="about"
  class="about-area about-p pt-120 pb-120 p-relative"
  style="background: #000"
>
  <div class="container">
    <div class="row">
      <!-- About Image -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="s-about-img p-relative">
          <img src="{% static 'img/bg/about-us.jpg' %}" alt="about-img" class="img-fluid" />
          <div class="about-text second-about">
            <span>24 <sub>+</sub></span>
            <p>Years Experience</p>
          </div>
        </div>
      </div>
      <!-- About Content -->
      <div class="col-lg-6 col-md-12 col-sm-12 pl-60">
        <div class="about-content s-about-content">
          <div class="about-title second-atitle pb-25">
            <h2>Concept To Creation</h2>
          </div>
          <p>
            Established in 2000, Sky High International Co., Ltd. is a leading
            OEM manufacturer of premium cosmetic products, catering to diverse
            B2B clients with a strong focus on innovation and reliability. With
            a strong R&D foundation and a talented team.
          </p>
          <div class="about-content3">
            <div class="row">
              <div class="col-md-12">
                <ul class="green">
                  <li>
                    Manufacturing Facilities: Located in Samutprakarn, Thailand,
                    equipped with advanced production lines for skin, body, and
                    hair care products. Capable of handling both small-batch and
                    large-scale production.
                  </li>
                  <li>
                    Certifications: ISO 9001:2015 certified, meeting
                    international quality standards. Additional compliance
                    ensures products are safe, effective, and environmentally
                    sound.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% if not is_about_page %}
          <div class="slider-btn mt-20">
            <a href="{% url 'about' %}" class="btn ss-btn smoth-scroll"
              >Learn More <i class="fal fa-long-arrow-right"></i
            ></a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>