{% load static %}
<stle>

</style>

<section class="testimonial-area text-center pt-120 pb-95" style="background-image: url({% static 'img/bg/Testimonials.jpg' %});">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center mb-50 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
                    <h5>Testimonials</h5>
                    <h2>Some Clients' Feedback</h2>
                </div>
            </div>
        </div>

        <!-- Testimonial Carousel -->
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="testimonial-active wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
                    <!-- Testimonial 1 -->
                    <div class="single-testimonial-outer">
                        <div class="single-testimonial">
                            <div class="qt-img">
                                <img src="{% static 'img/testimonial/qt-icon.png' %}" alt="quote-icon">
                            </div>
                            <p>
                                “Sky High has been an invaluable partner in our success. Their attention to detail and commitment to quality have helped us grow in competitive markets.&quot; - A satisfied GCC client.”
                            </p>
                            <div class="testi-author">
                                <img src="{% static 'img/testimonial/testi_profile-01.png' %}" alt="user-avatar">
                                <div class="ta-info">
                                    <h6>Alexis Browni JR.</h6>
                                    <span>Founder of Alxis Co.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 2 -->
                    <div class="single-testimonial-outer">
                        <div class="single-testimonial">
                            <div class="qt-img">
                                <img src="{% static 'img/testimonial/qt-icon.png' %}" alt="quote-icon">
                            </div>
                            <p>
                                “Partnering with Sky High has been a game-changer for our skincare brand. Their expertise in OEM manufacturing, commitment to quality, and use of premium ingredients have helped us create products that our customers love. From formulation to packaging, their team provided exceptional support every step of the way. Highly recommended!”
                            </p>
                            <div class="testi-author">
                                <img src="{% static 'img/testimonial/testi_profile-03.png' %}" alt="user-avatar">
                                <div class="ta-info">
                                    <h6>Paul M. Matney</h6>
                                    <span>DermaBloom Essentials Co.Ltd</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 3 -->
                    <div class="single-testimonial-outer">
                        <div class="single-testimonial">
                            <div class="qt-img">
                                <img src="{% static 'img/testimonial/qt-icon.png' %}" alt="quote-icon">
                            </div>
                            <p>
                                “From formulation to packaging, Sky High delivers top-tier skincare manufacturing with premium ingredients and expert support. A trusted partner for quality and innovation!”
                            </p>
                            <div class="testi-author">
                                <img src="{% static 'img/testimonial/testi_profile-02.png' %}" alt="user-avatar">
                                <div class="ta-info">
                                    <h6>Saifullah</h6>
                                    <span>GlowVera Labs Co.Ltd.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
