<!--C:\Users\Admin\Desktop\skyhigh\templates\users\password_reset_done.html-->

{% extends 'base/base.html' %} 
{% block content %}

<section class="inner-blog b-details-p pt-120 pb-105">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="password-reset-done-card p-5 shadow-lg rounded text-center" 
            style="background-color: #222; 
            color: white; 
            text-align: center; 
            border-radius: 10px; 
            box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.7);
            border: 2px solid transparent;
            border-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(229, 0, 0, 1) 35%, rgba(25, 25, 101, 1) 100%);
            border-image-slice: 1;">
          
          <h2 class="mb-4" style="font-weight: bold; text-transform: uppercase;">Password Reset Requested</h2>
          <p class="mb-4">An email has been sent with instructions to reset your password. Please check your inbox.</p>
          
          <a href="{% url 'login' %}" class="btn ss-btn">Return to Login</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}